<section class="listing">
  <% @treatments.each do |treatment| %>
    <div class="item">
      <header>
        <h1><%= treatment.title %></h1>
      </header>
      <%= image_tag treatment.image.url %>
      <p><%= treatment.summary %></p>
      <p class="more_info"><%= link_to "Meer info", behandeling_path(treatment) %></p>
      <button>Maak een afspraak</button>
    </div>
  <% end %>
</section>

