<% content_for :title, " - #{ @category.name.titleize if @category}" %>
<% content_for :description, "aan elke behandeling gaat een huidanalyse vooraf met vrijblijvend productadvies voor de thuisbehandeling" %>
<% if @category %>
  <section class="listing">
    <h1><%= @category.name.titleize %></h1>
    <%= render @treatments %>
  </section>
<% else %>
  <section class="listing">
    <p>Geen behandelingen</p>
  </section>
<% end %>

