<% content_for :title, @category.name.titleize %>
<% content_for :description, "aan elke behandeling gaat een huidanalyse vooraf met vrijblijvend productadvies voor de thuisbehandeling" %>
<section class="listing">
  <h1><%= @category.name.titleize %></h1>
  <%= render @treatments %>
</section>

<% content_for :javascript do %>
  <script>
    $('.item').matchHeight();
  </script>
<% end %>
