<h1 class="title">Dashboard</h1>
<nav>
  <ul>
    <li><%= link_to "Acties", admin_promotions_path %></li>
    <li><%= link_to "Behandelingen", admin_treatments_path %></li>
    <li><%= link_to "Producten", admin_products_path %></li>
  </ul>
</nav>
