<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <h1>Website Contact</h1>
    <p>
      Een bezoeker wenst een afspraak
    </p>
    <p>
      <%= @contact.name %><br/>
      <%= @contact.email %><br/>
      <%= @contact.phone %><br />
    </p>
    <p>
      De bezoeker vraagt:
    </p>
    <p>
      "<%= @contact.message %>"
    </p>
  </body>
</html>
