<section class="dashboard">
  <div class="panel">
    <div class="breadcrumbs">
      <%= render_breadcrumbs %>
    </div>
    <h1>Sectie Toevoegen</h1>
    <%= render "form", section: @section %>
  </div>
</section>
