<section class="dashboard">
  <div class="panel">
    <h1>Sectie</h1>
    <div class="section">
      <h2>Categorie</h2>
      <p><%= @section.category.name %></p>
    </div>
    <div class="section">
      <h2>Titel</h2>
      <p><%= @section.title %></p>
    </div>
    <div class="section">
      <h2>Beschrijving</h2>
      <p><%= @section.description %></p>
    </div>
    <div class="section">
      <p><%= image_tag @section.image.url %>
    </div>
  </div>
</section>
