<footer class="footer-2">
  <div class="footer-logo">
    <a href="/">ANNIEK LAMBRECHT</a>
  </div>
    <ul>
      <li><%= link_to "Contact", new_contact_path %></li>
      <li><a href="tel:050/694165"><i class="fa fa-phone left"></i>050/694165</a>
      <li><a href="mailto:info@anniek-lambrecht.be"><i class="fa fa-envelope left"></i>info@anniek-lambrecht.be</a>
      <li><a href=""><i class="fa fa-home left"></i>L. Dujardinstraat 9, 8370 Blankenberge</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Alle rechten voorbehouden</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="https://www.facebook.com/pages/Anniek-Lambrecht-Schoonheidsspecialiste/531106993649513?ref=hl">
          <%= image_tag "facebook-logo-circle.png", alt: "raadpleeg anniek-lambrecht op facebook" %>
          </a></li>
      </ul>
    </div>
</footer>

