<footer class="footer-2">
  <div class="footer-logo">
    <%= image_tag "logo-alambrecht-inverse.png", alt: "logo anniek lambrecht" %>
  </div>
    <ul>
      <li><a href="javascript:void(0)">Contact</a></li>
      <li><a href="tel:0472246502"><i class="fa fa-phone left"></i>0472 24 65 02</a>
      <li><a href="tel:0472246502"><i class="fa fa-envelope left"></i>info@anniek-lambrecht.be</a>
      <li><a href=""><i class="fa fa-home left"></i>Zuidlaan 54, 8370 Blankenberge</a></li>
    </ul>

    <div class="footer-secondary-links">
      <ul>
        <li><a href="javascript:void(0)">Alle rechten voorbehouden</a></li>
      </ul>

      <ul class="footer-social">
        <li><a href="javascript:void(0)">
          <img src="https://raw.githubusercontent.com/thoughtbot/refills/master/source/images/facebook-logo-circle.png" alt="Facebook">
          </a></li>
      </ul>
    </div>
</footer>

