<section class="dashboard">
  <div class="panel">
    <div class="breadcrumb">
      <%= render_breadcrumbs :separator => " " %>
    </div>
    <h1>Promotie Toevoegen</h1>
    <%= render "form" %>
  </div>
</section>
