<p class="title"><%= link_to promotion.title, promotion_path(promotion) %></p>
<p class="tagline"><%= promotion.tagline %></p>
<%= image_tag promotion.image if Promotion.count == 1 %>
<p><%= promotion.summary %></p>
