section.contact {
  padding-top: 2em;
  padding-left: 1em;
  padding-right: 1em;
  @include media($medium-screen) {
    padding-top: 0;
    padding-left: 2em;
    padding-right: 2em;
  }
  h1 {
    font-size: $base-font-size * 1.6;
    margin-bottom: em(10);
    @include media($medium-screen) {
      text-align: left;
      font-size: $base-font-size * 2; 
      margin-bottom: em(20);
    }
  }

  aside {
    @include media($medium-screen) {
      @include span-columns(4);
      @include shift(8);
      @include omega();
    }
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 3px solid $medium-gray;
    margin-bottom: 2em;

    h2 {
      margin-bottom: em(5);
      color: $medium-gray;
    }

    h3 {
      margin-top: em(15);
      margin-bottom: em(5);
      color: $medium-gray;
    }

    a {
      color: darken($base-accent-color, 10);
    }
    
    i {
      color: $base-accent-color;
    }
  }
}

