section.contact {
  padding-top: 2em;
  @include media($medium-screen) {
    padding-top: 0;
  }
  h1 {
    font-size: $base-font-size * 1.6;
    font-family: $sans-serif;
    color: $medium-gray;
    text-align: center;
    margin-bottom: em(20);
    @include media($medium-screen) {
      text-align: left;
      font-size: $base-font-size * 2; 
    }
  }
  form {
    padding-top: 1em;
    margin-bottom: em(40);
    @include media($medium-screen) {
      @include span-columns(8);
      padding: 3em;
      padding-left: 0;
      padding-top: 0;
    }

    .error {
      color: darken(red, 20); 
    }
    
    .cta {
      text-align: center;
    }
  }

  aside {
    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
    }
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
    border: 3px solid $medium-gray;

    h2 {
      margin-bottom: em(5);
      color: $medium-gray;
    }

    h3 {
      margin-top: em(15);
      margin-bottom: em(5);
      color: $medium-gray;
    }

    a {
      color: darken($base-accent-color, 10);
    }
    
    i {
      color: $base-accent-color;
    }
  }
}

