section.dashboard {

  @include outer-container;

  a {
    color: $dark-gray;
  }

  p.no-items { float: left; }

  .panel {
    @include clearfix;
    background: lighten($base-border-color, 10);
    border: 1px solid $base-border-color;
    margin: 0 0 ($base-line-height / 2) 0;
    padding: $base-line-height;
    margin-top: em(40);
    padding: 3em;

    h1 {
      clear: left;
      margin-bottom: em(20);
      color: $dark-gray;
    }

    h2 {
      font-size: $base-font-size;
      margin-bottom: em(5);
    }


    .section {
      margin-top: em(40);
      margin-bottom: em(40);
    }

    i {
      color: #333;
    }
  }
  
  ul {
    @extend %default-ul;
  }


  nav {
    margin-top: em(20);

    li {
      line-height: 2em;
    }

  }

  .breadcrumb {
    // float: left;
    clear: both;
    @include span-columns(12);
  }

  .add {
    clear: both;
  }

  .filter {
    @include span-columns(12);
  }
  form {
    input[type="submit"]{
      margin-top: em(20);
    }
    input[type="text"].price {
      width: em(100);
    }

    input[type="text"].phone {
      width: em(200);
    }

    &.filter {
      label, select {
        display: inline;
      }
      input[type="submit"] {
        padding: .5em;
        margin-top: 0;
      }
    }

    .froala-box {
      margin-bottom: em(20);
    }
  }

  .button_to {
    margin-top: em(20);
    margin-bottom: em(20);
  }

  a {
    text-decoration: underline;
  }

  .content {
    @include media($medium-screen) {
      @include span-columns(8);
    }
  }
}

