section.home {
  padding-left: 1em;
  padding-right: 1em;
  @include outer-container;
  margin-top: em(40);

  $hero-color: transparentize(white, 0.3);

  .hero {
    $hero-background-top: darken($base-accent-color, 25); 
    $hero-background-bottom: adjust-hue($hero-background-top, -70);
    background-color: #f9f9f9;
    border-radius: 5px;
    border: 2px solid lighten($medium-gray, 20); 
    margin-bottom: em(40);
    position: relative;
    z-index: 1;
    @include clearfix;
    @include media($large-screen) {
      margin-bottom: 0;
    }


    @include media($portrait-screen) {
      @include span-columns(4 of 8);
    }

    @include media($medium-screen) {
      @include span-columns(8);
    }
  }

  .hero::after {
    content: " ";
    display: block;
    background: image-url('logo-anniek-lambrecht-500.gif') no-repeat;
    background-position: 40% 0;
    background-size: cover; 
    opacity: .2;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;   
  }


  .hero-logo img {
    height: 3em;
    margin-bottom: 2.5em;
  }

  .hero-image {
    position: relative;
    z-index: 2;
    margin: 0 auto;
    display: block;
    margin-bottom: em(20);
    @include media($large-screen) {
      float: left;
      margin-right: em(20);
    }
    border-radius: 5px;
  }


  .hero-inner {
    @include outer-container;
    padding: 1em;
    padding-top: 2em;
    @include media($medium-screen) {
      padding: 3em;
    }
    margin: auto;
    color: $hero-color;

    button {
      @include button(simple, $base-background-color);
      font-size: $base-font-size;
      outline: none;
    }

    .cta {
      text-align: center;
    }
  }


  .hero-copy {
    
    h1 {
      font-size: 1.2em;
      color: darken($medium-gray, 20);
      margin-bottom: 1.3em;

      @include media($medium-screen) {
        font-size: 1.8em;
        text-align: left;
      }
    }

    p {
      margin: auto;
      margin-bottom: 2em; 
      font-weight: 200;
      color: darken($medium-gray, 20);
      line-height: 1.4em;

      @include media($large-screen) {
        font-size: 1.1em;
        text-align: left;
      }
    }
  }

  .acties {
    background: #f9f9f9;
    h2 { 
      font-size: $base-font-size * 1.3;
      font-family: $sans-serif;
      text-align: center;
      margin-bottom: em(15);
      font-weight: 800;
      text-transform: uppercase;
    }

    a {
      color: $base-accent-color;
    }

    p.title {
      font-size: $base-font-size * 1.3;
    }

    @include media($portrait-screen) {
      @include span-columns(4);
      @include omega();
    }

    @include media($medium-screen) {
      @include span-columns(4);
      @include omega();
    }

    border: 2px solid lighten($medium-gray, 20);
    border-radius: 5px;
    padding: 2em;
    padding-top: 1em;
    padding-bottom: 1em;
  }

 .actie {
   p {
     font-family: $sans-serif;
   }

   p.tagline {
     font-style: italic;
   }

   img {
     border-radius: 5px;
     margin-bottom: em(20);
   }
 }

 .behandelingen {
   margin-top: em(40);
   margin-bottom: em(40);
   @include clearfix;
   @include media($large-screen) {
     @include span-columns(12);
   }

 }

 .behandeling {

   @include media($portrait-screen) {
     @include span-columns (4 of 8);
     @include omega(2n);
   }

   @include media($medium-screen) {
     @include span-columns(4 of 12);
   }

   background: #f9f9f9;
   border: 2px solid lighten($medium-gray, 20);
   border-radius: 5px;
   padding: 2em;
   padding-top: 2em;
   padding-bottom: 1em;
   margin-bottom: em(40);
   @include media($large-screen) {
     margin-bottom: 0;
   }


   h2 {
     font-size: $base-font-size * 1.2;
     font-family: $sans-serif;
     text-align: center;
     margin-bottom: em(15);
     text-transform: uppercase;
   }

   img {
     margin-bottom: em(10);
     border-radius: 5px;
   }

   p {
     font-family: $sans-serif;
     color: $base-font-color;
     margin-top: em(20);
     margin-bottom: em(20);
   }

   .fa-ul {
     margin-left: 0;
     li { 
       margin-bottom: em(10);
     }
     a {
       color: $base-accent-color; 
       font-weight: 600;
     }
   }
 }
}

