// Sticky footer 
//
.main {
  min-height: 100%;
  height: auto !important;
  height: 100%;
  margin: 0 auto -4em;

  .messages {
    @include outer-container;
    p.notice {
      @extend %flash-success;
    }
    p.alert {
      @extend %flash-error;
    }
  }
}

html, body {
 height: 100%;
}


.main:after {
  content: "";
  display: block;
}

.footer-2, .main:after {
  height: 17em;

  @include media($large-screen) {
    height: 4em;
  }
}


.signin {
 margin-top: em(20);
 position: absolute;
 right: 180px;
 top: 60px;
}


section {
  @include outer-container;
  margin-top: em(40);
  @include media($medium-screen) {
    margin-left: em(20);
    margin-right: em(20);
  }
}

html, body {
  height: 100%;
}

// section

section {
  @include outer-container;
  margin-top: em(40);

  h1 {
    color: darken($pink, 10);
    font-family: $serif;
  }
}


// Admin tables
.table-borders {
  $table-border-color: $base-border-color;
  $table-border: 1px solid $table-border-color;
  $table-background: lighten($table-border-color, 10);
  $table-header-color: lighten($table-background, 10);
  $table-hover-color: darken($table-background, 5);
  $table-stripe-color: darken($table-background, 4);
  $table-stripe-color-hover: darken($table-stripe-color, 5);
  $table-padding: 0.5em;

  border: $table-border;
  border-left: 0px;
  border-collapse: separate;
  border-spacing: 0;
  border-radius: $base-border-radius;

  tbody {
    background-color: $table-background;
    tr:hover > td, tr:hover > th {
      background-color: $table-hover-color;
    }
    tr:nth-child(even) {
      background-color: $table-stripe-color;
      &:hover > td {
        background-color: $table-stripe-color-hover;
      }
    }
  }

  thead:first-of-type {
    tr:first-child > th:first-child {
      border-top-left-radius: $base-border-radius;
    }

    tr:first-child > th:last-child {
      border-top-right-radius: $base-border-radius;
    }
  }

  tbody:last-child {
    tr:last-child > td:first-child {
      border-bottom-left-radius: $base-border-radius;
    }

    tr:last-child > td:last-child {
      border-bottom-right-radius: $base-border-radius;
    }
  }

  thead {
    th {
      background-color: $table-header-color;
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-bottom: 0px;
    }
  }

  tbody {
    background-color: $table-background;

    td {
      padding: $table-padding;
      border-left: 1px solid $table-border-color;
      border-top: 1px solid $table-border-color;
      border-bottom: 0px;

      button {
        @include button(simple, $table-background);
        margin-right: 0.5em;
        display: inline-block;
        width: 100%;
        margin-bottom: .3em;
        outline: none;

        @include media($medium-screen) {
          width: auto;
          margin-bottom: 0;
        }
      }
    }
  }
}

// articles

article {
  @include outer-container;
  margin-top: em(40);
  margin-bottom: em(60);

  h1 {
    font-family: $serif;
    color: darken($pink, 10);
  }

  img {
    padding: 3px;
    border: 2px solid lighten($medium-gray, 20);
  }

  .tagline {
    color: #d4aba5;
    font-weight: 800;
    font-size: $base-font-size * 1.3;
    font-style: italic;
    margin-bottom: em(20);
  }

  p {
    font-family: $serif;
    font-size: $base-font-size * 1.3;
    color: darken($medium-gray, 10);
  }

  ul {
    @extend %default-ul;
    margin-top: em(20);
    margin-bottom: em(40);
    padding-bottom: 1em;
  }

  .button_to {
    float: right;
  }

  .content {
    @include span-columns(8);
    float: left;
    margin-top: em(20);
  }

  .price {
    float: left;
  }

  aside {
    @include span-columns(4);
    @include omega();
    float: right;
    margin-top: em(20);
    img {
      margin-left: em(20);
    }
  }
}



