section.listing {
  padding-top: 2em;
  h1 {
    font-family: $sans-serif;
    text-align: center;
    @include media($medium-screen) {
      text-align: left;
    }
    font-size: $base-font-size * 1.6;
  }
  img {
    width: 80%;
    @include media($medium-screen) {
      float: right;
      width: inherit;
    }
    margin-left: em(20);
    margin-bottom: em(20);
    border-radius: 5px;
    padding: 3px;
    border: 2px solid lighten($medium-gray, 20);
  }

  div.item {
    @include clearfix;
    margin: em(40) 0;
    padding: 1em;
    @include media($medium-screen) {
      padding: 3em;
    }
    border-radius: 5px;
    background: #f9f9f9;

    h1 {
      font-family: $sans-serif;
      @include media($medium-screen) {
        font-size: 1.953em;
      }
      line-height: 1.1;
      margin: 0 0 (1.953em / 2);
      color: darken($medium-gray, 20); 

    }

    h2 {
      font-size: 1.563em;
      line-height: 1.2;
      margin: 0 0 (1.563em / 2);
      color: $medium-gray;
    }
  }

  p.more_info a {
    border-bottom: 2px solid $medium-gray;
    color: darken($medium-gray, 20);
  }

  p {
    font-family: $serif;
    @include media($medium-screen) {
      font-size: 1.25em;
      line-height: 1.6;
      margin: 0 0 1.6em;
      width: 37.5rem;
    }
  }

  .cta {
    margin-top: em(20);
    text-align: center;
  }

  ul {
    @extend %default-ul;
  }

  button {
    margin-top: em(40);
  }

}


