<div class="item">
  <header>
    <h1><%= product.title %></h1>
  </header>
  <% if product.image.present? %>
    <%= image_tag product.image.url %>
  <% end %>
  <p><%= sanitize product.description, tags: %w(strong i ul li) %></p>
</div>
