<section class="listing">
  <h1>Producten</h1>
  <% @products.each do |product| %>
    <div class="item">
      <header>
        <h1><%= product.title %></h1>
      </header>
      <%= image_tag product.image.url %>
      <p><%= product.description %></p>
    </div>
  <% end %>
</section>

