<% content_for :title, "Producten" %>
<% content_for :description, "Anniek Lambrecht werkt enkel met topproducten van hoge kwaliteit" %>

<section class="listing">
  <h1>Producten</h1>
  <% @products.each do |product| %>
    <% cache(product) do %>
      <div class="item">
        <header>
          <h1><%= product.title %></h1>
        </header>
        <% if product.image.present? %>
          <%= image_tag product.image.url %>
        <% end %>
        <p><%= sanitize product.description, tags: %w(strong i ul li) %></p>
      </div>
    <% end %>
  <% end %>
</section>

