<% content_for :title, "Producten" %>
<% content_for :description, "Anniek Lambrecht werkt enkel met topproducten van hoge kwaliteit" %>

<section class="listing">
  <h1>Producten</h1>
  <%= render @products %>
</section>

