<% content_for :meta do %>
  <meta name="robots" content="noindex" />
<% end %>
<section class="dashboard">
  <div class="panel">
    <%= yield %>
  </div>
</section>
<% parent_layout 'application' %>

